<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="1" verbose="1" name="Infographic Engine v2">
    <listeners>
        <listener class-name="com.biit.appointment.google.TestListener"/>
    </listeners>

    <test name="Google CalDAV" enabled="true" preserve-order="true">
        <groups>
            <run>
                <!-- Jenkins cannot obtain the tokens. It is disabled on jenkins with a -DskipTests -->
                <include name="googleClientTest"/>
                <include name="googleCredentialsTest"/>
                <!-- Not working as we cannot get a correct token for localhost -->
                <exclude name="tokenTests"/>
                <exclude name="eventTests"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.appointment.google.client.GoogleClientProvider"/>
            <class name="com.biit.appointment.google.client.CredentialsTests"/>
            <class name="com.biit.appointment.google.client.TokenTests"/>
            <class name="com.biit.appointment.google.client.EventTests"/>
        </classes>
    </test>
</suite>